{% extends 'base.html' %} {% block title %} Signup {% endblock title%}
{% block content %}

<header>
  <nav></nav>
</header>
<main>
  <h1>Sign Up</h1>
  <div>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>Signup</button>
    </form>
  </div>
</main>

{% endblock content %}
