{% extends 'base.html' %} {% block title %} Accounts List {% endblock title %}
{%block content %}

<nav>
  {% if user.is_authenticated %}
  <li>
    <a href="{% url 'create_account' %}">Add Account</a>
  </li>
  <li>
    <a href="{% url 'home' %}">Receipts</a>
  </li>
  <li>
    <a href="{% url 'category_list' %}">Categories</a>
  </li>
  {% endif %}
</nav>
<main>
  <h1>Accounts</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Number of Receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for account in accounts %}
      <tr>
        <td>{{ account.name }}</td>
        <td>{{ account.number }}</td>
        <th>{{ account.receipts.count }}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock content %}
