{% extends 'base.html' %} {% block title %} Category Lists {% endblock title %}
{%block content %}

<nav>
  {% if user.is_authenticated %}
  <li>
    <a href="{% url 'create_category' %}">Add Category</a>
  </li>
  <li>
    <a href="{% url 'home' %}">Receipts</a>
  </li>
  <li>
    <a href="{% url 'account_list' %}">Accounts</a>
  </li>
  {% endif %}
</nav>
<main>
  <h1>Expense Category</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
      <tr>
        <td>{{ category.name }}</td>
        <td>{{ category.receipts.count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock content %}
